* {
    margin: 0px;
}
/* ------------------------detail-cars--------------------*/
.detail-layout {
    width: 1440px;
    height: 2620px;
    opacity: 1;
    background: #F6F7F9;
}
/*------------------------TOP BAR----------------------*/
.detail-bar-top{
    position: sticky;
    top: 0;         
    z-index: 1000;        
    width: 1440px;
    height: 124px;
    opacity: 1;
    border-width: 1px;
    background: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; 
}
.detail-bar-top-logo{
    font: normal 700 32px 'Plus Jakarta Sans';
    color: #3563E9;
    line-height: 150%;
    margin-right: 60px;
    margin-left: 40px;
}
.detail-bar-top-logo-text{
    width: 148px;
    height: 44px;
    font: 700 32px/150% 'Plus Jakarta Sans';
    color: #3563E9;
}
.detail-searchbox{
    width:  492px;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    justify-content: space-between;
    border: 1px solid #C3D4E966;
    border-radius: 70px;
    margin-right: 420px;
}
.detail-searchbox input{
    border: none;   /* bỏ khung viền mặc định */
    outline: none;  /* bỏ viền xanh khi focus */
    font: normal 500 14px 'Plus Jakarta Sans', sans-serif;
    color: #000;    /* màu chữ khi gõ */
    background: transparent; /* trong suốt để ăn theo khung cha */
    flex: 1;
    margin: 0 10px;
}
.detail-searchbox-img,
.detail-searchbox-filter{
    width: 24px;
    height: 24px;
}
.detail-profil{
    width: 236px;
    height: 44px;
    opacity: 1;
    display: flex;
    gap: 20px;
}
.detail-content{
    height: auto;
    display: flex;
    flex-direction: row;
}
.detail-bar-side{
    width: 360px;
    height: 2016px;
    opacity: 1;
    border-right-width: 1px;
    background: #FFFFFF;
}
.detail-TYPE {
    padding-top: 32px;
    padding-left: 32px;
    width: 176px;
    height: 352px;
    opacity: 1;
    gap: 28px;
    display: flex;
    flex-direction: column;
}
.detail-font-sidebar {
    width: 104px;
    height: 20px;
    opacity: 1;
    font: normal 600 12px 'Plus Jakarta Sans', sans-serif; 
    color: #90A3BF;
    margin: 0px;
}
.detail-TYPE-layout{
    width: 176px;
    height: 304px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.sidebar-element{
    cursor: pointer;
    width: 176px;
    height: 24px;
    opacity: 1;
    display: flex;
    gap: 8px;
    align-items: center;
}
.sidebar-tick-element {
  width: 19.99px;
  height: 20px;
  background: url("../img/tick-trang.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-tick-element.active {
  background: url("../img/tick-xanh.png") no-repeat center center;
  background-size: contain;
}
.sidebar-car-layout{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.sidebar-car-element{
    font: 600 20px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    text-align: justify;
    vertical-align: middle;
}
.detail-CAPACITY{
    padding-top: 60px;
    padding-left: 32px;
    width: 176px;
    height: 240px;
    opacity: 1;
    gap: 28px;
    display: flex;
    flex-direction: column;
}
.detail-PRICE{
    padding-top: 60px;
    padding-left: 32px;
    width: 296px;
    height: 104px;
    opacity: 1;
    gap: 28px;
    display: flex;
    flex-direction: column;
}
.detail-pricerange-layout{
    width: 296px;
    height: 56px;
    opacity: 1;
    gap: 12px;
    display: flex;
    flex-direction: column;
}
.detail-range-wrapper{
    width: 296px;
    height: 20px;
    opacity: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="range"] {
  background: linear-gradient(to right, #3563E9 50%, #90A3BF 50%);
  border-radius: 12px;
  appearance: none;
  width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: url('../img/detail-tron.png') no-repeat center center;
  background-size: cover;
  border: none;
  margin-top: -8px;
  cursor: pointer;
}
.detail-pricerange-text{
    width: 296px;
    height: 24px;
    opacity: 1;
    font: 600 20px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    text-align: justify;
    vertical-align: middle;
    color: #596780;
}
.detail-main-content{
    width: auto;
    height: auto;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.detail-content-info{
    display: flex;
    flex-direction: row;
}
.detail-car-img{
    display: flex;
    flex-direction: column;
}
.car-img-main{
    width: 492px;
    height: 360px;
    background: #3563E9;
    border-radius: 10px;
    margin-bottom: 25px;
}
.car-img-main-text{
    margin-top: 24px;
    margin-left: 24px;
}
.detail-text-main{
    margin: 0px;
    color: #FFFFFF;
    width: 372px;
    height: 96px;
    opacity: 1;
    font:  600 32px/150% 'Plus Jakarta Sans';
    letter-spacing: -3%;
    vertical-align: middle;
}
.detail-text-modifier{
    margin-top: 24px;
    margin-bottom: 0px;
    width: 284px;
    height: 48px;
    opacity: 1;
    font: 500 16px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    vertical-align: middle;
    color: #FFFFFF;
}
.anh-main{
    width: 492px;
    height: 360px;
    opacity: 1;
}
.car-img-modifier{
    padding-top: 24px;
    display: flex;
    gap: 24px;
}
.thumb{
    cursor: pointer;
    transition: transform 0.2s;
    width: 148px;
    height: 124px;
    opacity: 1;
    top: 416px;
    left: 392px;
}
.thumb:hover {
    transform: scale(1.05);
}
.active-thumb {
    border: 2px solid #007bff;
    border-radius: 8px;
}
.car-img-modifier .thumb{
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.car-img-modifier .thumb:hover {
    transform: scale(1.1);
    z-index: 1;            
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
.detail-car-info{
    flex: 1;             /* chiếm phần còn lại */
    width: 100%;
    height: auto;
    margin-left: 32px;
    padding: 16px;
    background-color: white;
    border-radius: 10px;
}
.nissan-phandau{
    display: flex;
    align-items: center;
}
.detail-heart{
    margin: 27.1px 0 0 202px;
    width: 20px;
    height: 17.799999237060547px;
    opacity: 1;
    top: 3.1px;
    left: 2px;
}
.car-name{
    gap: 8px;
    padding: 24px 0 0 24px;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 72px;
}
.Nissan{
    margin: 0px;
    width: 220px;
    height: 40px;
    opacity: 1;
    font: 700 32px/150% 'Plus Jakarta Sans';
    letter-spacing: -3%;
    vertical-align: middle;
}
.rv-nissan{
    display: flex;
    align-items: center;
    display: flex;
    width: 220px;
    height: 24px;
    opacity: 1;
    gap: 8px;
}
.rv-star{
    width: 108px;
    height: 20px;
    opacity: 1;
    gap: 2px;
}
.rv-440{
    margin: 0px;
    color: #596780;
    width: 104px;
    height: 20px;
    opacity: 1;
    font: 500 14px/100% 'Plus Jakarta Sans';
    letter-spacing: 2%;
    vertical-align: middle;
}
.Nissan-rv{
    margin: 32px 0 0 24px;
    width: 444px;
    height: 120px;
    opacity: 1;
}
.abc{
    margin: 0px;
    font:  400 19px/200% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    color: #596780;
}
.Nissan-Spesification{
    padding: 32px 0 0 24px;
    width: 444px;
    height: 72px;
    opacity: 1;
    gap: 44px;
    display: flex;
}
.Spesification{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 72px;
    opacity: 1;
    gap: 16px;
}
.Spesification-tren{
    display: flex;
    align-items: center;
    width: 200px;
    height: 28px;
    opacity: 1;
    gap: 16px;
}
.Spesification-text{
    margin: 0px;
    width: 92px;
    height: 28px;
    opacity: 1;
    font: 400 20px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    vertical-align: middle;
    color: #90A3BF;
}
.Spesification-duoi{
    display: flex;
    align-items: center;
    width: 200px;
    height: 28px;
    opacity: 1;
    gap: 16px;
}
.detail-phancuoi{
    display: flex;
    align-items: center;
}
.detail-price{
    gap: 4px;
    padding: 68px 0 0 24px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 56px;
    opacity: 1;
    gap: 4px;
}
.detail-price-tren{
    margin: 0px;
    width: 200px;
    height: 32px;
    opacity: 1;
    font: 700 28px/100% 'Plus Jakarta Sans'; 
    letter-spacing: 0%;
    vertical-align: middle;
}
.detail-price-duoi{
    margin: 0px;
    width: 200;
    height: 20;
    opacity: 1;
    font: 700 16px/100% 'Plus Jakarta Sans';
    letter-spacing: 0%;
    vertical-align: middle;
    color: #90A3BF;
}
.Rent-Now{
    margin: 68px 0 0 104px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 56px;
    opacity: 1;
    border-radius: 4px;
    gap: 8px;
    background: #3563E9;
    transition: transform 0.3s ease;
}
.Rent-Now:hover{
    transform: scale(1.05);
}
.detail-rent-now{
    width: 76px;
    height: 24px;
    opacity: 1;
    font: 700 16px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}
.detail-review{
    width: 1016px;
    height: 452px;
    opacity: 1;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.detail-total-review{
    display: flex;
    align-items: center;
    width: 136px;
    height: 28px;
    opacity: 1;
    gap: 12px;
}
.detail-total-review-text{
    display: flex;
    align-items: center;
    margin: 0px;
    width: 80px;
    height: 28px;
    opacity: 1;
    font: 600 20px/100% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    vertical-align: middle;
}
.detail-rv-13{
    display: flex;
    align-items: center;
    width: 44px;
    height: 28px;
    opacity: 1;
    border-radius: 4px;
    gap: 8px;
    padding-right: 20px;
    padding-left: 20px;
    background: #3563E9;
}
.detail-review-layout{
    width: 968px;
    height: 124px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.detail-reviewer{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
}
.detail-profil-reviewer{
    width: 56px;
    height: 56px;
    opacity: 1;
    border-radius: 60px;
}
.detail-name-reviewer{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    width: 128px;
    height: 56px;
    opacity: 1;
    gap: 8px;
}
.detail-name-rv{
    margin: 0px;
    width: 128px;
    height: 28px;
    opacity: 1;
    font: 700 20px/150% 'Plus Jakarta Sans';
    letter-spacing: -3%;
    vertical-align: middle;

}
.detail-rv-CEO{
    margin: 0px;
    width: 128px;
    height: 20px;
    opacity: 1;
    font: 500 14px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    vertical-align: middle;
    color: #90A3BF;
}
.detail-date-reviewer{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 128px;
    height: 56px;
    opacity: 1;
    gap: 8px;
    margin-left: 640px;
}
.detail-date-rv{
    margin: 0px;
    width: 128px;
    height: 28px;
    opacity: 1;
    font: 500 14px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    text-align: right;
    vertical-align: middle;
    color: #90A3BF;
}
.detail-rv-star{
    width: 108px;
    height: 20px;
    opacity: 1;
    gap: 2px;
}
.detail-describe-reviewer{
    margin: 0 24px 0 72px;
    width: 896px;
    height: 56px;
    opacity: 1;
}
.detail-describe-rv{
    margin: 0px;
    width: 896px;
    height: 56px;
    opacity: 1;
    font: 400 14px/200% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    color: #596780;
    line-height: 24px;
}
.detail-showall{
    display: flex;
    align-items: center;
    width: 132px;
    height: 44px;
    opacity: 1;
    border-radius: 4px;
    gap: 8px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 430px;
}
.detail-showall-button-text{
    width: 68px;
    height: 24px;
    opacity: 1;
    font: 600 16px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    text-align: center;
    vertical-align: middle;
    color: #90A3BF;
}
.detail-showall-button{
    width: 16px;
    height: 16px;
}
.detail-recent-layout{
    display: flex;
    flex-direction: column;
    width: 1016px;
    height: 448px;
    opacity: 1;
    gap: 16px;
}
.detail-recent{
    display: flex;
    width: 1016px;
    height: 44px;
    opacity: 1;
    gap: 756px;
}
.recent-car-text{
    width: 132px;
    height: 44px;
    opacity: 1;
    border-radius: 4px;
    gap: 8px;
    padding-right: 20px;
    padding-left: 20px;
}
.detail-recent-text{
    margin: 0px;
    width: 92px;
    height: 24px;
    font: 600 16px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    text-align: center;
    vertical-align: middle;
    color: #90A3BF;
}
.recent-viewall{
    width: 128px;
    height: 44px;
    opacity: 1;
    border-radius: 4px;
    gap: 8px;
    padding-right: 20px;
    padding-left: 20px;
}
.detail-recent-viewall{
    margin: 0px;
    width: 64px;
    height: 24px;
    font: 600 16px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    text-align: center;
    vertical-align: middle;
    color: #3563E9;
}
.detail-catalogue{
    display: flex;
    width: 1015px;
    height: 388px;
    opacity: 1;
    gap: 32px;
}
.detail-catalog{
    cursor: pointer;
    transition: transform 0.3s ease;
    background: white;
    width: 317px;
    height: 388px;
    opacity: 1;
    border-radius: 10px;
    padding: 24px;
    box-sizing: border-box;
}
.detail-catalog:hover{
    transform: scale(1.05);
}
.detail-catalog-dautren{
    height: auto;
    width: auto;
    display: flex;
    gap: 117px;
    margin-bottom: 52px;
}
.detail-catalog-name{
    display: flex;
    flex-direction: column;
    width: 128px;
    height: 48px;
    opacity: 1;
    gap: 4px;
}
.detail-catalog-namecar{
    margin: 0px;
    width: 128px;
    height: 24px;
    font: 700 20px/150% 'Plus Jakarta Sans';
    letter-spacing: -3%;
    vertical-align: middle;
}
.detail-catalog-kind{
    margin: 0px;
    width: 128px;
    height: 20px;
    font: 700 14px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    vertical-align: middle;
    color: #90A3BF;
}
.detail-catalog-car-img{
    width: 272px;
    height: 84px;
}
.detail-catalog-spesification{
    align-items: center;
    display: flex;
    width: 269px;
    height: 24px;
    opacity: 1;
    gap: 17px;
    margin-top: 52px;
    margin-bottom: 36px;
}
.detail-gas{
    align-items: center;
    display: flex;
    width: 60px;
    height: 24px;
    opacity: 1;
    gap: 8px;
}
.detail-car{
    align-items: center;
    display: flex;
    width: 84px;
    height: 24px;
    gap: 8px;
}
.detail-people{
    align-items: center;
    width: 91px;
    height: 24px;
    gap: 7px;
    display: flex;
}
.detail-catalog-gas{
    width: 24px;
    height: 24px;
}
.detail-catalog-gas-text{
    margin: 0px;
    width: 28px;
    height: 24px;
    font: 500 14px/150% 'Plus Jakarta Sans';
    color: #90A3BF;
}
.detail-catalog-car-text{
    margin: 0px;
    width: 52px;
    height: 24px;
    font: 500 14px/150% 'Plus Jakarta Sans';
    color: #90A3BF;
}
.detail-catalog-profile-text{
    margin: 0px;
    width: 60px;
    height: 24px;
    font: 500 14px/150% 'Plus Jakarta Sans';
    color: #90A3BF;
}
.detail-catalog-duoi{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    gap: 25px;
}
.detail-catalog-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 128px;
    opacity: 1;
    gap: 4px;
}
.detail-catalog-price-chinh{
    margin: 0px;
    width: 128px;
    font: 700 20px/100% 'Plus Jakarta Sans';
}
.detail-catalog-duoi-gach{
    text-decoration: line-through;
    margin: 0px;
    width: 128px;
    height: 20px;
    font: 700 14px/100% 'Plus Jakarta Sans';
    color: #90A3BF;
}
.detail-catalog-price-phu{
    margin: 0px;
    width: 128px;
    height: 20px;
    font: 700 14px/100% 'Plus Jakarta Sans';
    color: #90A3BF;
}
.detail-catalog-button{
    text-decoration: none;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 44px;
    opacity: 1;
    border-radius: 4px;
    gap: 8px;
    padding-right: 20px;
    padding-left: 20px;
    background: #3563E9;
}
.detail-catalog-button:hover{
    transform: scale(1.2);
}
.detail-catalog-button-text{
    margin: 0px;
    width: 76px;
    height: 24px;
    font: 600 16px/150% 'Plus Jakarta Sans';
    color: white;
}
.detail-recommendation-layout{
    width: 1016px;
    height: 448px;
    opacity: 1;
    gap: 16px;
}
.detail-recommendation{
    display: flex;
    width: 1016px;
    height: 44px;
    opacity: 1;
    gap: 692px;
    margin-bottom: 16px;
}
.detail-recommendation-car{
    width: 196px;
    height: 44px;
    opacity: 1;
    gap: 8px;
    border-radius: 4px;
    padding-right: 20px;
    padding-left: 20px;
}
.detail-recommendation-text{
    margin: 0px;
    width: 156px;
    height: 24px; 
    font: 600 16px/150% 'Plus Jakarta Sans';
    color: #90A3BF;
}
.detail-footer{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 480px;
    opacity: 1;
    background: #FFFFFF;
    padding: 60px;
    box-sizing: border-box;
}
.detail-footer-tren{
    height: auto;
    width: auto;
    display: flex;
}
.detail-footer-logo{
    display: flex;
    flex-direction: column;
    width: 292px;
    height: 108px;
    opacity: 1;
    gap: 16px;
}
.detail-footer-logo-text{
    margin: 0px;
    width: 148px;
    height: 44px;
    opacity: 1;
    letter-spacing: -3%;
    vertical-align: middle;
    font: 700 32px/150% 'Plus Jakarta Sans';
    color: #3563E9;
}
.detail-footer-logo-describe{
    margin: 0px;
    width: 292px;
    height: 48px;
    opacity: 1;
    font: 500 16px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    color: #13131399;
}
.detail-about{
    margin-left: 452px;
    display: flex;
    flex-direction: column;
    width: 152px;
    height: 244px;
    opacity: 1;
    gap: 24px;
}
.detail-about-text{
    margin: 0px;
    width: 152px;
    height: 32px;
    opacity: 1;
    font: 600 20px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    vertical-align: middle;
}
.detail-about-describe-layout{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 152px;
    height: 188px;
    opacity: 1;
}
.detail-about-describe{
    margin: 0px;
    font: 500 16px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    vertical-align: middle;
    color: #13131399;
}
.detail-community{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    width: 152px;
    height: 244px;
    opacity: 1;
    gap: 24px;
}
.detail-socials{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    width: 152px;
    height: 244px;
    opacity: 1;
    gap: 24px;
}
.detail-footer-line{
    display: flex;
    margin: 36px 0 36px 0;
    width: 1320px;
    height: 0px;
    opacity: 1;
    border-width: 1px;
    border: 1px solid #13131329;
}
.detail-footer-duoi{
    display: flex;
    flex-direction: row;
}
.detail-footer-duoi-copyright{
    margin: 0 680px 0 0;
    width: 292px;
    height: 24px;
    opacity: 1;
    font: 600 16px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    vertical-align: middle;
}
.detail-footer-duoi-privacy{
    margin: 0 60px 0 0;
    width: 144px;
    height: 24px;
    opacity: 1;
    font: 600 16px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
    text-align: right;
    vertical-align: middle;
}
.detail-footer-duoi-terms{
    width: 144px;
    height: 24px;
    opacity: 1;
    font: 600 16px/150% 'Plus Jakarta Sans';
    letter-spacing: -2%;
}
.detail-footer-left{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}
.detail-menu-toggle {
  display: none;
}