/* CSS trang đầu tiên Home-car-Rent */
.Home-car-Rent{
    width: 1440px;
    height:2724px;
    position: relative;
}
/* ----------------Phần Nav-Bar-Top----------------  */
/* .Nav-Bar-Top{
    width:1440px;
    height:124px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 32px;
} */

/* Navbar mặc định (PC/Laptop) */
.Nav-Bar-Top {
    width: 1440px;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* logo bên trái, search giữa, profile bên phải */
    padding-left: 60px;
    padding-right: 32px;
}

.search{
    width:492px;
    height: 44px;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 70px;
    
}

.logo{
    font: normal 700 32px 'Plus Jakarta Sans';
    color: #3563E9;
    line-height: 150%;
    margin-right: 64px;
}

.search-img{
    width :24px;
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;

}
.search-something{
    height: 20px;
    font: normal 500 14px 'Plus Jakarta Sans';      
    line-height: 150%;
    margin-right: 235px;
}
.search-filter{
    width: 24px;
    height: 24px;
    
}
.Profil-and-Notification{
    position: relative;
    right: 50px;
    margin-left: 408px;
    width: 236px;
    height: 44px;
    display: flex;
    gap: 20px;
}
.like,.Notification,.settings,.Profil{
    width: 44px;
    height: 44px;
}
    /* ------------- Phần content-------- */
.container-Content{
    width:1440px;
    height: 2120px;
    background-color: #F6F7F9;
}
.content{
    display: flex;
    flex-direction: column;

}
.Advertisement{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
}
.Ads1{
    width: 640px;
    height: 360px;
    background-color: #54A6FF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.Ads2{
    width: 640px;
    height: 360px;
    background-color: #3563E9;
    border-radius: 10px;
    overflow:hidden;
    
}
.Ads-Ads1,.Ads-Ads2{
    width:248px;
    height: 224px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    z-index: 1;
}
.Title-Ads1,Title-Ads2{
    display: flex;
    flex-direction: column;
   
}
.content-title1-Ads1,
.content-title1-Ads2{
    width: 273px;
    height: 96px;
    font: normal 600 32px 'Plus Jakarta Sans';
    color: #FFFFFF;
    line-height: 150%;
    margin-bottom:0;
}
.content-title2-Ads1,
.content-title2-Ads2{
    width: 284px;
    height: 48px;
    font: normal 500 16px 'Plus Jakarta Sans';
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 0;
    
}
.Button-Rent-Ads1{
    position: relative;
    width: 120px;
    height: 44px;
    background-color:#3563E9 ;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0px;
    cursor: pointer;
}
.Button-Rent-Ads2{
    position: relative;
    width: 120px;
    height: 44px;
    background-color:#54A6FF ;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0px;
    cursor: pointer;
}
/* chuyển đậm hơn khi đưa chuột vào*/
.Button-Rent-Ads1:hover,
.Button-Rent-Ads2:hover {
    background-color: #254BC9; 
}
.Rental-Car-Ads1,
.Rental-Car-Ads2{
    width:80px;
    height: 24px;
    font: normal 600 16px 'Plus Jakarta Sans';
    line-height: 150%;
    color: #FFFFFF;
}

.image7{
    position: relative;
    left: 137px; 
    z-index: 1;
}
.BG-Ads1 {
    position: relative;
    width: 775px;
    height: 775px;
} 
.circle {
    position: absolute;
    border-radius: 50%;
    border: 20px solid #FFFFFF0F; /* có thể đổi thành rgba(255,255,255,0.08) */
    transform: translate(-50%, -50%); /* tâm đúng giữa */
    margin-top: -47px;
    margin-left: 230px;
    width: 775px;
    height: 775px;
}

.circle1 {
    width: 775px;
    height: 775px;
}

.circle2 {
    width: 650px;
    height:650px;
}

.circle3 {
    width: 525px;
    height: 525px;
}

.circle4 {
    width: 400px;
    height: 400px;
}
.circle5{
    width: 275px;
    height: 275px;
}
.circle6{
    width: 150px;
    height: 150px;
}
.circle7{
    border: 10px solid #FFFFFF0F;
    width:50px;
    height: 50px;
}
.Rectangle{
    display: flex; 
    flex-direction: column;
   
}
.Rectangle-top{
    display: flex;
    position: absolute; 
    gap: 16px;
    
} 
.Rectangle-middle{
    display: flex;
    position: absolute; 
    margin-top: 120px;
    margin-left: 16px;
    margin-right: 3px;
    gap: 16px;
}
.Rectangle-bottom{
    display: flex;
    position: absolute; 
    margin-top: 240px;
    margin-left: 0px;
    gap: 16px;
}
.img8{
    position: relative;
    z-index: 1;
    left: 187px;
}
.Drop-Pick-Switch{
    display: flex;
    gap: 44px; 
    margin-top: 32px;
    margin-left: 64px;
}
.Pick-Up-Containt,
.Drop-Off-Containt{
    position: relative;
    width :582px;
    height: 132px;
    background-color: #FFFFFF;
    border-radius: 10px;
    /* gap: 8px; */
    
}
.Pick-Up,
.Drop-Off{
    display: flex;
    align-items: center;
    gap: 8px; 
    padding-left: 48px;
    /* padding-top: 24px;  */
}
.background-mark{
    width: 16px;
    height: 16px;
    border-radius: 70px;
    background-color: #3563E94D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mark,.mark-Drop-Off{
    width: 8px;
    height: 8px;
    background-color: #3563E9;
    border-radius: 70px;
    cursor: pointer;
}
.mark-Drop-Off{
    background-color: #54A6FF;
}
#Pick-Up,
#Drop-Off{
    font: normal 600 16px 'Plus Jakarta Sans';
    color: #1A202C;
    line-height: 150%;
}
.Pick-Up-Infor,
.Drop-Off-Infor{
    display: flex;
    padding-left: 48px;
    
}
.DATE,.TIME{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 24px;
}

.Loca,.date,.time{
    font: normal 700 16px 'Plus Jakarta Sans';
    color: #1A202C;
}

#city{
    display: flex;
    position: absolute;
    width: 126px;
    height: 20px;
    outline: none;
    font: normal 500 12px 'Plus Jakarta Sans';
    color: #90A3BF;
    line-height: 100%;
    border: 0;
    margin-top: 8px;
}
#Date,#Time{
    border :0;
    font: normal 500 12px 'Plus Jakarta Sans';
    color: #90A3BF;
}
/* .default-display{
    
} */
.line{
    width :1px;
    height: 58px;
    background-color: #C3D4E966;
    margin-left: 73px;
}
.container-Switch{
    width :60px;  
    height: 60px;  
    background-color: #3563E9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    cursor :pointer;
    border:0;
}
.container-Switch:hover{
    background-color: #254BC9;
} 
 /* --------------Catalogue Car----------------- */

 .Catalogue-Car{
    width: 1312px;
    height: 1356px;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
    margin-top: 36px;
    gap: 32px;
 }
 .Popular-Car-Rent{
    height: 452px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .background-Popular,.background-View{
    width :132px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 .Popular{
    display: flex;
    gap: 1076px;
 }
 .Popular-Car,
 .Recomendation{
    font: normal 600 16px 'Plus Jakarta Sans';
    line-height:100%;
    color: #90A3BF;
 }
.View{
    font: normal 600 16px 'Plus Jakarta Sans';
    line-height:100%;
    color: #3563E9;
}
.Popular-Car-List{
    height: 388px;
    display: flex;
    gap: 32px;
}
/* ----------Catalog1--------------- */
.Catalog1, .Catalog2,.Catalog3,.Catalog4{
    width :304px;
    height: 388px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.heart{
    position: absolute;
    margin-top: 24px;
    margin-left: 256px;
}

.Name-Car{
    margin-left: 24px;
    margin-top: 24px;
}
.Name{
    font: normal 700 20px 'Plus Jakarta Sans';
    color: #1A202C;
}
.Type-Car{
    font:normal 700 14px 'Plus Jakarta Sans';
    color: #90A3BF;
}
.image-catalog1,
.image-catalog2,
.image-catalog3,
.image-catalog4{
    width :232px;
    height: 72px;
    margin-top: 64px;
    margin-left: 36px;
}
.Shadow{
    width :304px;
    height: 68px;
    position: absolute;
    top: 167px;
    background-color: #FFFFFF00;
}
.Spesifitation{
    display: flex;
    gap: 16px;
    margin-left: 24px;
    margin-top: 37px;
}
.Gasoline,.Car,.Capacity{
    display: flex;
    align-items: center;
    gap: 6px;
}
.volume,.Manual,.people{
    font: normal 500 14px 'Plus Jakarta SanS';
    color: #90A3BF;
    line-height: 100%;
}
.Price-Rental-Catalog1,
.Price-Rental-Catalog2{
    display: flex;
    gap: 24px;
    align-items: center;
}

.Price{
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-left: 24px;
}

.price{
    font: normal 700 20px 'Plus Jakarta Sans';
    color: #1A202C;
}
.per-day{
    font: normal 700 14px 'Plus Jakarta Sans';
    color: #90A3BF;
}

.background-Button-Rental{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width :116px;
    height: 44px;
    border: 0;
    background-color: #3563E9;
    z-index: 1;
    font: normal 600 16px 'Plus Jakarta Sans';
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
}
.background-Button-Rental:hover{
    background-color: #254BC9;
}
/* ------------Catalog2--------------- */
/* --------------Catalog3---------------- */
.Price-Catalog2{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-left: 24px;
    margin-top: -10px;
}
.Sale-Price{
    display: flex;
    gap: 5px;
    align-items: baseline;
}
.Original-Price{
    font: normal 700 14px 'Plus Jakarta Sans';
    color: #90A3BF;
    margin-top: -14px;
}
/* -----------------------Recomendation-Car-Rent--------------- */
.Recomendation-Car-Rent{
    display: flex;
    flex-direction: column;
    height: 872px;
    gap: 20px;
}
.background-Recomendation{
    width:196px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Recomendation-Car{
    height: 808px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Recomendation1,
.Recomendation2{
    height: 388px;
    display: flex;
    gap: 32px;

}
.Catalog1-Recomen1,
.Catalog2-Recomen1,
.Catalog3-Recomen1,
.Catalog4-Recomen1{
    width: 304px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.Catalog1-Recomen2,
.Catalog2-Recomen2,
.Catalog3-Recomen2,
.Catalog4-Recomen2{
    width: 304px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.image-catalog-Recomen1{
    width: 224;
    height: 100;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: -25px;
}
.image-catalog-Recomen2{
    width: 224;
    height: 100;
    margin-top: 50px;
    margin-left: 4px;
    margin-bottom: -25px;

}
.Price-Rental-Catalog-Recomen{
    display: flex;
    gap: 24px;
    align-items: center;
}
.Price-Catalog-Recomen{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-left: 24px;
    margin-top: -10px;
}
.Show-More{
    display: flex;
    position: relative;
    align-items: center;
    width:734px;
    height: 44px;
    margin-left: 578px;
    margin-top: 64px;
    gap: 438px;
}
.background-Show-More{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 44px;
    background-color: #3563E9;
    color: #FFFFFF;
    font: normal 600 16px 'Plus Jakarta Sans';
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}
.background-Show-More:hover{
    background-color: #254BC9;
}
.Car-quantity{
    width: 140px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: right;
    font: normal 500 14px 'Plus Jakarta Sans';
    color:#90A3BF ;
    margin-right: 0px;
}
/* --------------------Footer---------------- */
.Footer-top-content{
    display: flex;
    gap: 60px;
    margin-left: 60px;
    margin-top: 80px;
}
.Container-Footer-logo{
    width: 292px;
    height: 108px;
    display: flex;
    flex-direction: column;
    margin-right: 392px;
}
.Logo-Text{
    font: normal 700 32px 'Plus Jakarta Sans';
    color: #3563E9;
    margin-bottom: 0;
}
.Content-Logo{
    width :292px;
    height: 48px;
    font: normal 500 16px 'Plus Jakarta Sans';
    counter-reset: #13131399;
}
.Container-About,
.Container-Community,
.Container-Socials{
    width :152px;
    height: 244px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 24px ;
}
.About,
.Community,
.Socials{
    font: normal 600 20px 'Plus Jakarta Sans';
    color: #1A202C;
}
.Content-About,
.Content-Community,
.Content-Socials{
    height: 188px;
    font: normal 500 16px 'Plus Jakarta Sans';
    color: #13131399;
   line-height: 40px;
}
.Footer-bottom-content{
    font: normal 600 16px 'Plus Jakarta Sans';
    color: #1A202C;
    display: flex;
    align-items: center;
    gap: 725px;
    margin-left: 60px;
    margin-top: 36px;
}
.Legal-links{
    display: flex;
    gap: 60px;
}
.line-Footer{
    width :1320px;
}


/* Mobile layout */
@media (max-width :768px) {

    body{
        transform: scale(0.9); /* thu nhỏ toàn bộ, kể cả chữ */
    }
    .Home-car-Rent{
        width: 375px;
    }
    .Nav-Bar-Top {
        flex-direction: column;   /* xếp dọc */
        align-items: center;  /* canh trái */
        justify-content: space-between ;
        height: auto;
        padding: 16px;
        width: 375px;
        margin-left: 410px;
    }

    .search {
        margin-left: 74px;
        margin-top: 16px;  /* đẩy search box xuống dưới logo */
        width: 263px;
        height: 48px;       /* search full width */
        border-radius: 10px;
        gap: 250px;
    }
    .search-something{
        position: absolute;
        font-size: 14px;
        color: #90A3BF;
        width :160px;
        height: 24px;
        margin-left: 54px;
    }
    .logo{
        font-size: 24px;

    }
    .search-filter{
        padding: 12px;
        border :1px solid;
        border-radius: 10px;
    }
    .Profil-and-Notification {
        position: absolute;
        margin-top: 24px;
        left: 430px;       /* avatar + icon vẫn ở góc trên phải */

    }

    .Ads1{
        width: 327px;
        height: 232px;
        margin-top: 32px;
        margin-left: -25px;
    }
    .Ads2,.line,
    .like,
    .Notification,
    .settings{
        display: none;
    }
    .Drop-Pick-Switch{
        display: flex;
        flex-direction: column;
    }
    .Pick-Up-Containt,
.Drop-Off-Containt{
    width: 407px;
}
.Pick-Up-Infor,
.Drop-Off-Infor{
    gap: 24px;
    margin-left: -40px;
    
}
.Pick-Up,
.Drop-Off{
    margin-left: -40px;
   
}
}