/* CSS trang đầu tiên Home-car-Rent */
.Home-car-Rent{
    width: 1440px;
    height:2724px;
    position: relative;
}
/* Phần Nav-Bar-Top  */
.Nav-Bar-Top{
    width:1440px;
    height:124px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 32px;
}

.search{
    width:492px;
    height: 44px;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 70px;
    
}

.logo{
    font: normal 700 32px 'Plus Jakarta Sans';
    color: #3563E9;
    line-height: 150%;
    margin-right: 64px;
}

.search-img{
    width :24px;
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;

}
.search-something{
    height: 20px;
    font: normal 500 14px 'Plus Jakarta Sans';      
    line-height: 150%;
    margin-right: 235px;
}
.search-filter{
    width: 24px;
    height: 24px;
    
}
.Profil-and-Notification{
    position: relative;
    margin-left: 408px;
    width: 236px;
    height: 44px;
    display: flex;
    gap: 20px;
}
.like,.Notification,.settings,.Profil{
    width: 44px;
    height: 44px;
}
    /* Phần content */
.container-Content{
    width:1440px;
    height: 2120px;
    background-color: #F6F7F9;
}
.Advertisement{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
}
.Ads1{
    width: 640px;
    height: 360px;
    background-color: #54A6FF;
    border-radius: 10px;
}
.Ads2{
    width: 640px;
    height: 360px;
    background-color: #3563E9;
    border-radius: 10px;
}
.Ads{
    width:248px;
    height: 224px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
.Title{
    display: flex;
    flex-direction: column;
}
.content-title1{
    width: 272px;
    height: 96px;
    font: normal 600 32px 'Plus Jakarta Sans';
    color: #FFFFFF;
    line-height: 150%;
    margin-bottom:0;
}
.content-title2{
    width: 284px;
    height: 48px;
    font: normal 500 16px 'Plus Jakarta Sans';
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 0;
}
.Button-Rent{
    position: relative;
    width: 120px;
    height: 44px;
    background-color:#3563E9 ;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0px;
    cursor: pointer;
}
/* chuyển đậm hơn khi đưa chuột vào*/
.Button-Rent:hover {
    background-color: #254BC9; 
}
.Rental-Car{
    width:80px;
    height: 24px;
    font: normal 600 16px 'Plus Jakarta Sans';
    line-height: 150%;
    color: #FFFFFF;
}
.BG{
    width: 775px;
    height: 775px;
    margin-left: -175px;
    margin-top: -83px;
    color: #FFFFFF0F;
    
}
.Ellipse{
    position: relative;
}
