/* CSS trang đầu tiên Home-car-Rent */
.Home-car-Rent{
    width: 1440px;
    height:2724px;
    position: relative;
}
/* ----------------Phần Nav-Bar-Top----------------  */
.Nav-Bar-Top{
    width:1440px;
    height:124px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 32px;
}

.search{
    width:492px;
    height: 44px;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 70px;
    
}

.logo{
    font: normal 700 32px 'Plus Jakarta Sans';
    color: #3563E9;
    line-height: 150%;
    margin-right: 64px;
}

.search-img{
    width :24px;
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;

}
.search-something{
    height: 20px;
    font: normal 500 14px 'Plus Jakarta Sans';      
    line-height: 150%;
    margin-right: 235px;
}
.search-filter{
    width: 24px;
    height: 24px;
}
.Profil-and-Notification{
    position: relative;
    margin-left: 408px;
    width: 236px;
    height: 44px;
    display: flex;
    gap: 20px;
}
.like,.Notification,.settings,.Profil{
    width: 44px;
    height: 44px;
}
    /* Phần content */
.container-Content{
    width:1440px;
    height: 2120px;
    background-color: #F6F7F9;
}
.content{
    display: flex;
    flex-direction: column;

}
.Advertisement{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
}
.Ads1{
    width: 640px;
    height: 360px;
    background-color: #54A6FF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.Ads2{
    width: 640px;
    height: 360px;
    background-color: #3563E9;
    border-radius: 10px;
    overflow:hidden;
    
}
.Ads-Ads1,.Ads-Ads2{
    width:248px;
    height: 224px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    z-index: 1;
}
.Title-Ads1,Title-Ads2{
    display: flex;
    flex-direction: column;
   
}
.content-title1-Ads1,
.content-title1-Ads2{
    width: 273px;
    height: 96px;
    font: normal 600 32px 'Plus Jakarta Sans';
    color: #FFFFFF;
    line-height: 150%;
    margin-bottom:0;
}
.content-title2-Ads1,
.content-title2-Ads2{
    width: 284px;
    height: 48px;
    font: normal 500 16px 'Plus Jakarta Sans';
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 0;
    
}
.Button-Rent-Ads1{
    position: relative;
    width: 120px;
    height: 44px;
    background-color:#3563E9 ;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0px;
    cursor: pointer;
}
.Button-Rent-Ads2{
    position: relative;
    width: 120px;
    height: 44px;
    background-color:#54A6FF ;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0px;
    cursor: pointer;
}
/* chuyển đậm hơn khi đưa chuột vào*/
.Button-Rent-Ads1:hover,
.Button-Rent-Ads2:hover {
    background-color: #254BC9; 
}
.Rental-Car-Ads1,
.Rental-Car-Ads2{
    width:80px;
    height: 24px;
    font: normal 600 16px 'Plus Jakarta Sans';
    line-height: 150%;
    color: #FFFFFF;
}

.image7{
    position: relative;
    left: 137px; 
    z-index: 1;
}
.BG-Ads1 {
    position: relative;
    width: 775px;
    height: 775px;
} 
.circle {
    position: absolute;
    border-radius: 50%;
    border: 20px solid #FFFFFF0F; /* có thể đổi thành rgba(255,255,255,0.08) */
    transform: translate(-50%, -50%); /* tâm đúng giữa */
    margin-top: -47px;
    margin-left: 230px;
    width: 775px;
    height: 775px;
}

.circle1 {
    width: 775px;
    height: 775px;
}

.circle2 {
    width: 650px;
    height:650px;
}

.circle3 {
    width: 525px;
    height: 525px;
}

.circle4 {
    width: 400px;
    height: 400px;
}
.circle5{
    width: 275px;
    height: 275px;
}
.circle6{
    width: 150px;
    height: 150px;
}
.circle7{
    border: 10px solid #FFFFFF0F;
    width:50px;
    height: 50px;
}
.Rectangle{
    display: flex; 
    flex-direction: column;
   
}
.Rectangle-top{
    display: flex;
    position: absolute; 
    gap: 16px;
    
} 
.Rectangle-middle{
    display: flex;
    position: absolute; 
    margin-top: 120px;
    margin-left: 16px;
    margin-right: 3px;
    gap: 16px;
}
.Rectangle-bottom{
    display: flex;
    position: absolute; 
    margin-top: 240px;
    margin-left: 0px;
    gap: 16px;
}
.img8{
    position: relative;
    z-index: 1;
    left: 187px;
}
.Drop-Pick-Switch{
    display: flex;
    gap: 44px; 
    margin-top: 32px;
    margin-left: 64px;
}
.Pick-Up-Containt,
.Drop-Off-Containt{
    position: relative;
    width :582px;
    height: 132px;
    background-color: #FFFFFF;
    /* gap: 8px; */
    
}
.Pick-Up,
.Drop-Off{
    display: flex;
    align-items: center;
    gap: 8px; 
    padding-left: 48px;
    /* padding-top: 24px;  */
}
.padding-mark{
    width: 16px;
    height: 16px;
    border-radius: 70px;
    background-color: #3563E94D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mark,.mark-Drop-Off{
    width: 8px;
    height: 8px;
    background-color: #3563E9;
    border-radius: 70px;
    cursor: pointer;
}
.mark-Drop-Off{
    background-color: #54A6FF;
}
#Pick-Up,
#Drop-Off{
    font: normal 600 16px 'Plus Jakarta Sans';
    color: #1A202C;
    line-height: 150%;
}
.Pick-Up-Infor,
.Drop-Off-Infor{
    display: flex;
    padding-left: 48px;
    
}
.DATE,.TIME{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 24px;
}

.Loca,.date,.time{
    font: normal 700 16px 'Plus Jakarta Sans';
    color: #1A202C;
}

#city{
    display: flex;
    position: absolute;
    width: 126px;
    height: 20px;
    outline: none;
    font: normal 500 12px 'Plus Jakarta Sans';
    color: #90A3BF;
    line-height: 100%;
    border: 0;
    margin-top: 8px;
}
#Date,#Time{
    border :0;
    font: normal 500 12px 'Plus Jakarta Sans';
    color: #90A3BF;
}
/* .default-display{
    
} */
.line{
    width :1px;
    height: 58px;
    background-color: #C3D4E966;
    margin-left: 73px;
}
.container-Switch{
    width :60px;  
    height: 60px;  
    background-color: #3563E9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    cursor :pointer;
}
/* .swap::hover{
    background-color: green;
} */
 /* --------------Catalogue Car----------------- */

 .Catalogue-Car{
    width: 1312px;
    height: 1356px;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
    margin-top: 36px;
    gap: 32px;
 }
 .Popular-Car-Rent{
    height: 452px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .padding-Popular,.padding-View{
    width :132px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .Popular{
    display: flex;
    gap: 1076px;
 }
 .Popular-Car,
 .Recomendation{
    font: normal 600 16px 'Plus Jakarta Sans';
    line-height:100%;
    color: #90A3BF;
 }
.View{
    font: normal 600 16px 'Plus Jakarta Sans';
    line-height:100%;
    color: #3563E9;
}
.Popular-Car-List{
    height: 388px;
    display: flex;
    gap: 32px;
}
/* ----------Catalog1--------------- */
.Catalog1, .Catalog2,.Catalog3,.Catalog4{
    width :304px;
    height: 388px;
    background-color: #FFFFFF;
}

.heart{
    position: absolute;
    margin-top: 24px;
    margin-left: 256px;
}

.Name-Car{
    margin-left: 24px;
    margin-top: 24px;
}
.Name{
    font: normal 700 20px 'Plus Jakarta Sans';
    color: #1A202C;
}
.Type-Car{
    font:normal 700 14px 'Plus Jakarta Sans';
    color: #90A3BF;
}
.image-catalog1,
.image-catalog2,
.image-catalog3,
.image-catalog4{
    width :232px;
    height: 72px;
    margin-top: 64px;
    margin-left: 36px;
}
.Shadow{
    width :304px;
    height: 68px;
    position: absolute;
    top: 167px;
    background-color: #FFFFFF00;
}
.Spesifitation{
    display: flex;
    gap: 16px;
    margin-left: 24px;
    margin-top: 37px;
}
.Gasoline,.Car,.Capacity{
    display: flex;
    align-items: center;
    gap: 6px;
}
.volume,.Manual,.people{
    font: normal 500 14px 'Plus Jakarta SanS';
    color: #90A3BF;
    line-height: 100%;
}
.Price-Rental-Catalog1,
.Price-Rental-Catalog2{
    display: flex;
    gap: 24px;
    align-items: center;
}

.Price{
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-left: 24px;
}

.price{
    font: normal 700 20px 'Plus Jakarta Sans';
    color: #1A202C;
}
.per-day{
    font: normal 700 14px 'Plus Jakarta Sans';
    color: #90A3BF;
}

.padding-Button-Rental{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width :116px;
    height: 44px;
    border: 0;
    background-color: #3563E9;
    z-index: 1;
    font: normal 600 16px 'Plus Jakarta Sans';
    color: #FFFFFF;
    cursor: pointer;
}
.padding-Button-Rental:hover{
    background-color: #254BC9;
}
/* ------------Catalog2--------------- */
/* --------------Catalog3---------------- */
.Price-Catalog2{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-left: 24px;
    margin-top: -10px;
}
.Sale-Price{
    display: flex;
    gap: 5px;
    align-items: baseline;
}
.Original-Price{
    font: normal 700 14px 'Plus Jakarta Sans';
    color: #90A3BF;
    margin-top: -14px;
}
/* -----------------------Recomendation-Car-Rent--------------- */
.Recomendation-Car-Rent{
    display: flex;
    flex-direction: column;
    height: 872px;
    gap: 20px;
}
.padding-Recomendation{
    width:196px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Recomendation-Car{
    height: 808px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Recomendation1,
.Recomendation2{
    height: 388px;
    display: flex;
    gap: 32px;

}
.Catalog1-Recomen1,
.Catalog2-Recomen1,
.Catalog3-Recomen1,
.Catalog4-Recomen1{
    width: 304px;
    background-color: #FFFFFF;
}
.Catalog1-Recomen2,
.Catalog2-Recomen2,
.Catalog3-Recomen2,
.Catalog4-Recomen2{
    width: 304px;
    background-color: #FFFFFF;
}
.image-catalog-Recomen1{
    width: 224;
    height: 100;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: -25px;
}
.image-catalog-Recomen2{
    width: 224;
    height: 100;
    margin-top: 50px;
    margin-left: 4px;
    margin-bottom: -25px;

}
.Price-Rental-Catalog-Recomen{
    display: flex;
    gap: 24px;
    align-items: center;
}
.Price-Catalog-Recomen{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-left: 24px;
    margin-top: -10px;
}

/* ------------------------detail-cars--------------------*/
.detail-layout {
    width: 100%;
    min-height: 100vh;
    background: #F6F7F9;
}
.detail-bar-top{
    position: sticky;
    top: 0;         
    z-index: 1000;        
    height: 124px;
    border-width: 1px;
    background: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; 
}
.detail-bar-top-logo{
    font: normal 700 32px 'Plus Jakarta Sans';
    color: #3563E9;
    line-height: 150%;
    margin-right: 60px;
    margin-left: 40px;
}
.detail-searchbox{
    width:  492px;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    justify-content: space-between;
    border: 1px solid #C3D4E966;
    border-radius: 70px;
    margin-right: 480px;
}
.detail-searchbox input{
    border: none;   /* bỏ khung viền mặc định */
    outline: none;  /* bỏ viền xanh khi focus */
    font: normal 500 14px 'Plus Jakarta Sans', sans-serif;
    color: #000;    /* màu chữ khi gõ */
    background: transparent; /* trong suốt để ăn theo khung cha */
    flex: 1;
    margin: 0 10px;
}
.detail-searchbox-img {
    width: 24px;
    height: 24px;
}
.detail-searchbox-filter{
    width: 24px;
    height: 24px;
}
.detail-profil{
    width: 236px;
    height: 44px;
    opacity: 1;
    display: flex;
    gap: 20px;
}
.detail-content{
    height: 2016px;
    display: flex;
    flex-direction: row;
}
.detail-bar-side{
    width: 360px;
    height: 2016px;
    opacity: 1;
    border-right-width: 1px;
    background: #FFFFFF;
}
.detail-TYPE {
    padding-top: 32px;
    padding-left: 32px;
    width: 176px;
    height: 352px;
    top: 32px;
    left: 32px;
    opacity: 1;
    gap: 28px;
    display: flex;
    flex-direction: column;
}
.detail-font-sidebar {
    width: 104px;
    height: 20px;
    opacity: 1;
    font: normal 600 12px 'Plus Jakarta Sans', sans-serif; 
    color: #90A3BF;
    margin: 0px;
}
.detail-TYPE-layout{
    width: 176px;
    height: 304px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.sidebar-element{
    cursor: pointer;
    width: 176px;
    height: 24px;
    opacity: 1;
    display: flex;
    gap: 8px;
    align-items: center;
}
.sidebar-tick-element {
  width: 19.99px;
  height: 20px;
  background: url("../img/tick-trang.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-tick-element.active {
  background: url("../img/tick-xanh.png") no-repeat center center;
  background-size: contain;
}
.sidebar-car-layout{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.sidebar-car-element{
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -2%;
    text-align: justify;
    vertical-align: middle;
}
.detail-CAPACITY{
    padding-top: 60px;
    padding-left: 32px;
    width: 176px;
    height: 240px;
    opacity: 1;
    top: 440px;
    left: 32px;
    gap: 28px;
    display: flex;
    flex-direction: column;
}
.detail-PRICE{
    padding-top: 60px;
    padding-left: 32px;
    width: 296px;
    height: 104px;
    opacity: 1;
    top: 736px;
    left: 32px;
    gap: 28px;
    display: flex;
    flex-direction: column;
}
.detail-pricerange-layout{
    width: 296px;
    height: 56px;
    opacity: 1;
    gap: 12px;
    display: flex;
    flex-direction: column;
}
.detail-range-wrapper{
    width: 296px;
    height: 20px;
    opacity: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="range"] {
  background: linear-gradient(to right, #3563E9 50%, #90A3BF 50%);
  border-radius: 12px;
  appearance: none;
  width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: url('../img/detail-tron.png') no-repeat center center;
  background-size: cover;
  border: none;
  margin-top: -8px;
  cursor: pointer;
}
.detail-pricerange-text{
    width: 296px;
    height: 24px;
    opacity: 1;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -2%;
    text-align: justify;
    vertical-align: middle;
    color: #596780;
}
.deltail-main-content{
    width: auto;
    height: auto;
}
.detail-car-img{
    display: flex;
    flex: column;
}
.car-img-main{
    width: 492px;
    height: 360px;
    background: #3563E9;
    border-radius: 10px;
}
.car-img-main-text{
    margin-top: 24px;
    margin-left: 24px;
}
.detail-text-main{
    margin: 0px;
    color: #FFFFFF;
    width: 372px;
    height: 96px;
    opacity: 1;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -3%;
    vertical-align: middle;
}
.detail-text-modifier{
    margin-top: 24px;
    margin-bottom: 0px;
    width: 284px;
    height: 48px;
    opacity: 1;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #FFFFFF;
}