/* ------------------Mobile------------------- */
@media (max-width : 768px){
.Home-car-Rent{
    width :375px;
    height: auto;
}
.Profil{
    display: flex;
    margin-top: -25px;
    margin-left: -315px;
}
.logo{
    /* margin-left: -191px; */
    display: flex;
    margin-top: -40px;
    margin-left: 24px;
}

.Nav-Bar-Top{
    width :375px;
    height: 228px;
}
.search{
    margin-left: -194px;
    margin-top: 92px;
    width :263px;
    height: 48px;
    border-radius: 10px;

}
.search-filter{
    margin-left: 32px;
    padding: 12px;
    border :1px solid;
    border-radius: 10px;
}
.Ads1{
    width:327px;
    height: 232px;
    margin-left: -60%;
}

.like,.settings,.Notification,.Ads2{
    display: none;
    
}
}